<h3>Table</h3>
<b>id: </b>{{id}}

<h3>Table Info</h3>
<button class="btn" (click)="initNewTable()">New Table</button>



<h3>Players</h3>
<ul>
    <li *ngFor="let player of (table | async)?.players | keys">{{player.value.name}}</li>
</ul>
<div class="col-md-6">
    <h3>White Cards</h3>
    <ul>
        <li *ngFor="let whiteCard of whiteCards">{{whiteCard | whiteCard}}</li>
    </ul>
</div>
<div class="col-md-6">
    <h3>Black Cards</h3>
    <ul>
        <li *ngFor="let blackCard of blackCards">{{(blackCard | blackCard).text}}</li>
    </ul>
</div>